:root {
  --app-background-color:  black /* Default background color */
}

body, .button {
  background-color: var(--app-background-color);
  border: 1px solid var(--app-background-color);
  text-align: center;
  transition: 1s ease;
}

.CardText, i {
  color: var(--app-background-color);
  transition: 1s ease;
}

.button:focus, .button:active{
  background-color:var(--app-background-color) ;
}